################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NeilsWheels/FileContentIndex/80d5d88f-97ec-45cc-97b6-c6633093e174.vsidx
/.vs/NeilsWheels/FileContentIndex/52a2102d-6769-491a-a250-836e037b8638.vsidx
/.vs/NeilsWheels/FileContentIndex/9ad57b6c-cc9b-4486-8a3f-82473d68f4b7.vsidx
/.vs/NeilsWheels/CopilotIndices/17.14.698.11175
/.vs/NeilsWheels/FileContentIndex
/.vs/NeilsWheels/v17
